/*Universal Styles*/

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

/*Header*/

header h1 {
    float: left;
    font-size: 2rem;
}

header ul {
    float: right;
}

header li {
    display: inline-block;
    padding: 15px;
}